course_material_service/.env
# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# VS Code
.vscode/


.DS_Store

venv/
course_material_service/.venv/
course_material_service/generated_videos/
