# Environment Variables
.env
course_material_service/.env

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual Environments
env/
venv/
.venv/
course_material_service/.venv/

# Database
*.sqlite3
*.db
*.db-journal

# Logs
*.log

# Project Artifacts
course_material_service/generated_videos/
course_material_service/uploads/
course_material_service/exports/
course_material_service/static/videos/*
!course_material_service/static/videos/.gitkeep

# VS Code
.vscode/

# Temporary files
tmp/
temp/


db_password.txt
